<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Nutrition Dashboard</title>
<!-- <script data-goatcounter="https://sorbro.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
<script type="module" src="static/bundle.js"></script>
<link rel="stylesheet" href="static/bundle.css" />
<!-- TODO: Download and serve locally -->
<link rel="stylesheet" crossorigin="anonymous" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" crossorigin="anonymous" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" crossorigin="anonymous" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
