<dialog id="rangeModal" class="modal-content">
  <form method="dialog" id="rangeForm" style="display: flex; flex-direction: column; gap: 10px">
    <label style="display: flex; justify-content: space-between; align-items: center">
      <h3 id="modalTitle" style="margin: 0"></h3>
      <button>&times;</button>
    </label>
    <input type="hidden" id="currentSliderId" />
    <label for="minVal">Minimum Value:</label>
    <input type="number" id="minVal" name="minVal" min="0" step="1" required />
    <label for="maxVal">Maximum Value:</label>
    <input type="number" id="maxVal" name="maxVal" min="0" step="1" required />
    <div style="display: flex; justify-content: left; gap: 10px">
      <button>Cancel</button>
      <button name="save">Save Changes</button>
    </div>
  </form>
</dialog>
