<div class="tabs">
  <input type="radio" name="tabset" id="sliders-tab" class="tab-button" checked />
  <label for="sliders-tab" class="tab-label">Nutrient Targets</label>
  <input type="radio" name="tabset" id="map-tab" class="tab-button" />
  <label for="map-tab" class="tab-label">Location Selection</label>

  <div id="sliders-content" class="tab-content">
    <p style="margin: 0 0 0.5rem; font-size: 0.85rem">Adjust your nutrient targets to optimize your diet.</p>
    <table style="border-spacing: 0">
      <colgroup>
        <col style="width: 15%" />
        <col style="width: 85%" />
      </colgroup>
      <tbody id="slider-table-body"></tbody>
    </table>
  </div>
  <div id="map-content" class="tab-content">
    <p style="margin: 0 0 0.5rem; font-size: 0.85rem">A map-based approach to selecting items or regions.</p>
    <div id="map"></div>
    <table>
      <colgroup>
        <col style="width: 90%" />
        <col style="width: 10%" />
      </colgroup>
      <thead>
        <tr>
          <th>Name</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody id="location-table-body"></tbody>
    </table>
  </div>
</div>
<style>
  #map {
    min-height: 300px;
  }
  /* Basic tab label styling */
  .tab-label {
    cursor: pointer;
    margin-right: 2rem;
  }
  /* Hide all tab-content by default: zero width/height, and no overflow */
  .tab-content {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .tab-button {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--grey);
    border-bottom: none;
    background-color: var(--light-grey);
    margin-right: 0.25rem;
    border-radius: 3px 3px 0 0;
  }
  .tab-button.checked {
    background-color: var(--white);
    position: relative;
    top: 1px;
    font-weight: bold;
  }
  .tab-button:hover:not(.active) {
    background-color: #e0e0e0;
  }
  #sliders-tab:checked ~ #sliders-content {
    width: 100%;
    height: auto;
  }
  #map-tab:checked ~ #map-content {
    width: 100%;
    height: auto;
  }
</style>
