# Vscode settings
.vscode/

# Folders to exclude
# python virtual environment
venv/
# temporary folder
tmp/

# All data in json, html and csv files
data/*.json
data/**/*.csv
data/*.html

# All python cache files
*.pyc
