{% extends "base.html" %} {% block content %}
<div class="dashboard-content">
  <div class="dashboard-column">
    <h2>Nutrient Targets</h2>
    <p style="margin: 0 0 0.5rem; font-size: 0.85rem">Adjust your nutrient targets to optimize your diet.</p>
    {% include 'partials/slider_table.html' %}
  </div>
  <div class="dashboard-column">
    <h2>Optimized Meal</h2>
    <p>The recommended food items and quantities to meet your nutrient targets.</p>
    <div id="result"></div>
  </div>
</div>
{% endblock %}
