<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="static/sliders.js"></script>
<link rel="stylesheet" href="static/sliders.css">

<!-- D3 Brush Elements -->
<table class="table table-hover table-sm">
    <tbody>
        {% for slider in sliders %}
        <tr id="slider-row-{{ slider.id }}">
            <td class="align-middle text-start" style="width: 110px; font-size: 12px">
                {{ slider.name }} ({{ slider.unit }})
            </td>
            <td class="ps-3 pe-3">
                <div id="{{ slider.id }}" class="slider-container p-0" style="height: 60px;"></div>
                <input type="hidden" id="{{ slider.id }}-min" value="{{ slider.min }}">
                <input type="hidden" id="{{ slider.id }}-max" value="{{ slider.max }}">
                <input type="hidden" id="{{ slider.id }}-lower" value="{{ slider.lower }}"
                    data-optimization="bounds_{{ slider.id }}">
                <input type="hidden" id="{{ slider.id }}-upper" value="{{ slider.upper }}"
                    data-optimization="bounds_{{ slider.id }}">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>