<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="static/sliders.js"></script>

<!-- D3 Brush Elements -->
<table class="table table-hover table-sm">
    <tbody>
        {% for slider in sliders %}
        <tr id="slider-row-{{ slider.id }}">
            <td class="align-middle text-start" style="width: 110px; font-size: 12px">
                {{ slider.name }} ({{ slider.unit }})
            </td>
            <td class="ps-3 pe-3">
                <div id="{{ slider.id }}" class="slider-container p-0" style="height: 60px;"></div>
                <input type="hidden" id="{{ slider.id }}-min" value="{{ slider.min }}">
                <input type="hidden" id="{{ slider.id }}-max" value="{{ slider.max }}">
                <input type="hidden" id="{{ slider.id }}-lower" value="{{ slider.lower }}"
                    data-optimization="bounds_{{ slider.id }}">
                <input type="hidden" id="{{ slider.id }}-upper" value="{{ slider.upper }}"
                    data-optimization="bounds_{{ slider.id }}">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Custom CSS for Styling -->
<style>
    .brush .selection {
        fill: #69a0e8;
        fill-opacity: 0.8;
        stroke: none;
    }

    .brush .handle--custom circle {
        fill: #444;
        fill-opacity: 0.9;
        stroke: #000;
        stroke-width: 1.5px;
    }

    .axis text {
        font-size: 10px;
    }

    /* Tooltip styling */
    .segment-label {
        font: 12px sans-serif;
        text-anchor: middle;
        fill: #000;
        pointer-events: none;
        opacity: 0;
        /* Hidden by default */
    }

    .segment:hover+.segment-label,
    .segment-label:hover {
        opacity: 1;
        /* Show label on hover */
    }
</style>