# Open food facts exports
food*.parquet
products*.parquet
prices*.parquet

# Open food facts database dump
openfoodfacts-product*.jsonl.gz

# DuckDB databases
*.db
# DuckDB tmp files
duckdb_temp_storage_*.tmp

# Fetched NNR2023 html
recommendations_nnr2023.html

# Ciqual 2020 table
ciqual2020.csv
XML_2020_07_07.zip
ciqual2020/*.xml
ciqual2020/*.csv

# Calnut tables
calnut.0.csv
calnut.1.csv

# EUR exchange rates
eurofxref.csv

# Livsmedelsdatabasen table
LivsmedelsDB_*.xlsx
LivsmedelsDB_*.csv

# Fetched nutrient_map
nutrient_map_recipe_estimator.csv

# Benchmarking files
input.json
benchmark_results.json
benchmark.npz

# Other files
exported_images/*
user_data/*
