.rc-slider {
    height: 10px;
}
.card-body {
    padding: 0 0;
    max-height: 80vh;
    overflow-y: auto;
}
.name-col{
    width: 20%;
}
.slider-col{
    width: 80%;
}
.result-text{
    padding: 10px 10px 0px;
}
